<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} $${env:JournalDevVar} $${env:JournalDevSecondVar} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
	    <RandomAccessFile name="MyFile" fileName="logs/mainmemory.log">
	      <PatternLayout>
	        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
	      </PatternLayout>
	    </RandomAccessFile>
	    <Async name="Async">
	      <AppenderRef ref="MyFile"/>
	    </Async>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console" />
        </Root>
        <logger name="com" level="TRACE" additivity="false">
            <AppenderRef ref="MyFile" />
        </logger>
        <logger name="com.mymemory" additivity="false">
            <AppenderRef ref="MyFile" />
            <AppenderRef ref="Console"/>
        </logger>
    </Loggers>
</Configuration>